@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 1px;
    padding: 1px;
    min-height: 100%;
} 

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: coral;
    opacity: 95%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #4f33cd;
    text-align: center;
    font-size: 2.5em;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #232121;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a:active {
    color: white;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#hero{
    background-image: url(https://i.ytimg.com/vi/OKXawidL5jI/maxresdefault.jpg);
    height: 87vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.shop-items {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

.shop-items .shop-item {
    width: 20%;
    min-width: 2rem;
    padding: 0.75rem;
    border: 2px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(255, 255,255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.50);
    /*box-shadow: 20px 20px 30px rgba(38, 34, 34, 0.3);*/
    margin: 15px;
    transition: 0.2s ease;
    position: relative;
    background-color: coral;
}

.shop-items .shop-item-image {
    width: 100%;
    border-radius: 25px; 
    min-width: 2rem;
}

.shop-items .shop-item-image:hover{
    transform: scale(1.1) translateY(1px);
}

.shop-items .shop-item-title {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
    
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: #318af0;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #088178;
}

.shop-item-button {
    width: 100px;
    height: 30px;
    line-height: 10px;
    border-radius: 10px;
    color: white;
    border: 2px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
    
}

.shop-item {
    margin: 15px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    margin-bottom: 10px;
}

.shop-item-image {
    height: 230px;
    
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: white;
}


.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    margin-left: 1.5em;
    padding-bottom: 7px;
    margin-top: 7px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 40%;
}

.cart-price {
    width: 10%;
    font-size: 1.5em;
    color: #0c0b0b;
}

.cart-quantity {
    width: 25%;
}

.cart-item-title {
    color: #333;
    margin-left: 1em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 85px;
    height: 75PX;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: red;
    border: none;
    border-radius: .3em; 
}

.btn-danger:hover {
    background-color: orange;
}

.cart-quantity-input {
    height: 34px;
    width: 65px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 100px;
}

.cart-row:last-child {
    border-bottom: 2px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    margin-right: 40px;
}

.cart-total-price {
    font-size: 1.1em;
    margin-right: 40px;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.content-section p {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#contact-details .details {
    width: 40%;
   
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 10px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
}

#contact-details .details li p {
    margin: 2px;
    font-size: 14px;
}

#contact-details .map {
    width: 45%;
    height: 420px;
    padding-right: 15px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
   
}

#form-details {
    background-color: #f3eedb;
    display: flex;
    justify-content: space-between;
    margin: 15px;
    padding: 3%;
    padding-top: 40px;
    border: 1px solid #6d6565;
}

#form-details form {
    width: 69%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 80%;
    padding: 10px 10px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button {
    background-color: #088178;
    color: #fff;
}

#form-details .people div {
    padding-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span {
   display: block;
   font-size: 16px;
   font-weight: 600;
   color: #000;
}

#feature  {
    display: flex;
    align-items: right;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}
#feature .fe-box {
    width: 135px;
    text-align: center;
    padding: 25px 15px;
    background-color: rgb(247, 196, 103);
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid;
    border-radius: 4px;
    margin: 10px 0;
}

#feature .fe-box:hover {
    box-shadow:10px 10px 54px rgba(36, 30, 125, 0.653);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(https://d2cdo4blch85n8.cloudfront.net/wp-content/uploads/2018/01/Nike-Paul-George-Playstation-themed-PG2-Sneakers-Featured-image-672x372.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #fff;
    font-size: 26px;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: #ef3636;
}

.about-band-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

iframe {
    width: 100%;
}

footer {
    width: 100%;
    background-color: coral;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

.main-footer-container {
    display: flex;
    align-items: center;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 15px 10px 15px;
 }

footer .logo {
     margin-bottom: 30px;
}

.footer-nav li {
    padding: 0 .5em;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover  {
    color: #088178;
}

footer .copyright {
    width: 100%;
    text-align: center;
}


@media (max-width:820px) {
   
    html, body {
        margin: 1px;
        padding: 0px;
       
    }

    #hero {
        height: 70hv;
        padding: 1p;
        background-position: top 30% right 30% ;
    }
    #hero .section-header {
        font-family: "Metal Mania";
        font-weight: normal;
        color: white;
        text-align: center;
        font-size: 5.5em;
    }

    .cart-item {
        width: 100px;
        margin-right: 1px;
        flex-wrap: wrap;
    }

    .cart-price {
        width:10%;
    }
    .cart-quantity {
        width: 1%;
    }
    .cart-total {
        text-align: start;
        padding-left: 20px;
       
    }
    .cart-row:last-child {
        border-bottom: none;
    }
}

@media (max-width: 414px) {

    html, body {
        margin: 1px;
        padding: 0px;
       
    }
    .cart-item {
        width: 90px;
        margin-right: 1px;
        flex-wrap: wrap;
    }

    .cart-price {
        width: 5%;
    }
    
    .cart-quantity {
        width: 5%;
    }
   
}

@media (max-width: 375px) {

    html, body {
        width: 100%;
       
    }

    #feature {
        justify-content: center;
    }
    #feature .fe-box {
        margin: 15px 15px;
    }
    #feature {
        margin: 15px 15px;
    }

}